@charset "utf-8";
@import "../node_modules/bulma/bulma.sass";

// 2. Set your own initial variables
$yellow: #f8e9a1;
$pinkish: #f76c6c;
$light-blue: #a8d0e6;
$dark-blue: #374785;
$darker-blue: #24305e;
// Update the blue shade, used for links
$blue: #06bcef;
// Add pink and its invert
$pink: #ff8080;
$pink-invert: #fff;
// Update the sans-serif font family
// $family-sans-serif: "Helvetica", "Arial", sans-serif;
$family-sans-serif: "Karla", sans-serif;
// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $pink;
$primary-invert: $pink-invert;

// 4. Import the rest of Bulma

@import "../node_modules/bulma/bulma";
@font-face {
    font-family: "JetBrains Mono";
    src: url("../resources/JetBrainsMonoWeb/JetBrainsMono-Regular.woff")
            format("woff"),
        url("../resources/JetBrainsMonoWeb/JetBrainsMono-Regular.woff2")
            format("woff2");
}

// Custom CSS
html,
body {
    height: 100%;
    overflow: auto;
    background-color: $darker-blue;
}

.audio-control {
    position: relative;
    height: auto;
    padding: 5px;
}

.intro {
    height: 400px;
    background-color: #fffaf0;
}

.info {
    position: relative;
    height: auto;
    background-color: $dark-blue;
    bottom: auto;
}

.full-height {
    height: 100%;
    width: 100%;
    margin: 0px;
}

.left-top {
    position: relative;
    min-height: 50%;
}

.right-top {
    position: relative;
    min-height: 50%;
    overflow: hidden;
    text-align: center;
}

.left-bottom {
    position: relative;
    min-height: 33%;
}

.middle-bottom {
    position: relative;
    min-height: 33%;
}

.right-bottom {
    position: relative;
    min-height: 33%;
}

#footer {
    top: 12px;
    position: relative;
    bottom: 0px;
    height: auto;
    background-color: $darker-blue;
    color: #fff;
}

#footer-link {
    color: $yellow;
}

#footer-link:hover {
    color: $pinkish;
}

.text-area {
    position: absolute;
    bottom: 0;
    font-family: "JetBrains Mono", Consolas;
}

.element {
    display: inline;
}

#me {
    object-fit: contain;
    height: 100%;
    width: auto;
    box-shadow: 0px 0px 74px -19px #000;
}

#me-container {
    position: absolute;
    height: 65%;
    padding-top: 20px;
    padding-bottom: 30px;
}

.typed-cursor {
    font-size: 2rem;
}

.socials {
    display: inline-block;
    vertical-align: middle;
    font-size: 100px;
}

.social-button {
    display: inline-block;
    margin: 0px 40px 0px 40px;
    vertical-align: middle;
}

.contact {
    position: relative;
    margin-top: 30px;
}

#contact-at {
    font-size: 30px;
}

#email {
    font-size: 40px;
}

.exp-title {
    color: $darker-blue;
}

a {
    color: $darker-blue;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    color: $pinkish;
    text-decoration: none;
    cursor: pointer;
}

audio {
    display: none;
}

#play-pause {
    color: white;
    background-color: $darker-blue;
    transition: 0.3s;
}

#play-pause:hover {
    background-color: $pinkish;
}

#header {
    color: #fff;
}

#hr {
    background-color: $pinkish;
}

#playlist {
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
    height: 300px;
    width: 90%;
    box-shadow: 0px 0px 52px -26px #000;
}

.date {
    color: $dark-blue;
    font-weight: bold;
    text-align: right;
    padding: 12px 16px;
}
// for transition to tablet-mobile
@media only screen and (max-width: 1200px) {
    .contact {
        margin-top: 25px;
    }

    #contact-at {
        font-size: 15px;
    }

    #email {
        font-size: 20px;
    }

    .typed-cursor {
        font-size: 1.5rem;
    }

    .socials {
        display: inline-block;
        vertical-align: middle;
        font-size: 50px;
    }

    .social-button {
        display: inline-block;
        margin: 0px 20px 0px 20px;
        vertical-align: middle;
    }
}

// for mobile only
@media only screen and (max-width: 769px) {
    .typed-cursor {
        font-size: 1rem;
    }
}
