@charset "utf-8";
@import "../node_modules/bulma/bulma.sass";

// 2. Set your own initial variables
// Update the blue shade, used for links
$blue: #06bcef;
// Add pink and its invert
$pink: #ff8080;
$pink-invert: #fff;
// Update the sans-serif font family
$family-sans-serif: "Helvetica", "Arial", sans-serif;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $pink;
$primary-invert: $pink-invert;

// 4. Import the rest of Bulma

@import "../node_modules/bulma/bulma";

// Custom CSS
html,
body {
    height: 100%;
    overflow: auto;
}

.audio-control {
    position: relative;
    height: auto;
    padding: 5px;
}

.intro {
    height: 400px;
}

.info {
    position: relative;
    height: auto;
    background-color: lightblue;
    bottom: auto;
}

.full-height {
    height: 100%;
    width: 100%;
    margin: 0px;
}

.left-top {
    position: relative;
    background-color: white;
    min-height: 50%;
}

.right-top {
    position: relative;
    background-color: lightpink;
    min-height: 50%;
    overflow: hidden;
    text-align: center;
}

.left-bottom {
    position: relative;
    min-height: 33%;
}

.middle-bottom {
    position: relative;
    min-height: 33%;
}

.right-bottom {
    position: relative;
    min-height: 33%;
}

#footer {
    top: 12px;
    position: relative;
    bottom: 0px;
    height: auto;
    // padding: 20px;
}

.text-area {
    position: absolute;
    bottom: 0;
}

.element {
    display: inline;
}

#me {
    object-fit: contain;
    height: 100%;
    width: auto;
    box-shadow: 0px 0px 74px -19px #000;
}

#me-container {
    position: absolute;
    height: 65%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.typed-cursor {
    font-size: 2rem;
}

.socials {
    display: inline-block;
    vertical-align: middle;
    font-size: 100px;
}

.social-button {
    display: inline-block;
    margin: 0px 40px 0px 40px;
    vertical-align: middle;
}

.contact {
    position: relative;
    margin-top: 30px;
}

#contact-at {
    font-size: 30px;
}

#email {
    font-size: 40px;
}

a {
    color: #000;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

audio {
    display: none;
}

// for transition to mobile
@media only screen and (max-width: 1200px) {
    .contact {
        margin-top: 25px;
    }

    #contact-at {
        font-size: 20px;
    }

    #email {
        font-size: 25px;
    }

    .typed-cursor {
        font-size: 1.4rem;
    }

    .socials {
        display: inline-block;
        vertical-align: middle;
        font-size: 50px;
    }

    .social-button {
        display: inline-block;
        margin: 0px 20px 0px 20px;
        vertical-align: middle;
    }
}
